src/test/resources/GC_Dataflow_Job_Runner_Example_Template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>The example for checking GC Dataflow Job Runner functionality</description>
    <groupId>1756f4cc-0167-1000-7f06-71b11e7d42ab</groupId>
    <name>GC Dataflow Job Runner Example Template</name>
    <snippet>
        <connections>
            <id>058b05da-dc36-3890-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>175.88320154680105</x>
                <y>731.7361343943353</y>
            </bends>
            <bends>
                <x>369.95058435930105</x>
                <y>732.610340937304</y>
            </bends>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>9b78f518-8a83-39be-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>filename</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>7ca91192-7087-3fb6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>06588097-780a-3aa0-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>f26585d9-a1ec-39d4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>f9eb955d-6c0c-35f5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>21f180c9-2697-3358-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>f26585d9-a1ec-39d4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>0768b9a9-e4a3-3fce-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>382afaa9-3a9a-3da1-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>f26585d9-a1ec-39d4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>8fc3dab9-f0b0-3681-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7092a7e6-cee7-30c7-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>d9ceda78-ad55-3f62-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>9b78f518-8a83-39be-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>76f587d9-a8fc-3148-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>379.7647874016311</x>
                <y>312.9144959411327</y>
            </bends>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>f9eb955d-6c0c-35f5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>notify</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>9b78f518-8a83-39be-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>89705c3d-2d5c-31f5-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>7ca91192-7087-3fb6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>f2342a75-d0a3-3ff4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8f23572d-1238-367d-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>611.767550783195</x>
                <y>699.279155893346</y>
            </bends>
            <bends>
                <x>582.483859376945</x>
                <y>729.0029718113148</y>
            </bends>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>9b78f518-8a83-39be-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>inprocess</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>9b78f518-8a83-39be-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9bf4e0b9-0b32-3e8d-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>398202eb-027a-3870-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>0768b9a9-e4a3-3fce-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9e8c1110-7bc2-3b0e-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>f26585d9-a1ec-39d4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>398202eb-027a-3870-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>af4bcbe6-bf01-3be9-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1199.790238675861</x>
                <y>701.9551007827667</y>
            </bends>
            <bends>
                <x>1166.9007123086735</x>
                <y>728.9921491226105</y>
            </bends>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>d9ceda78-ad55-3f62-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>inprocess</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>d9ceda78-ad55-3f62-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>dd8cd6e8-0506-3a64-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>8fc3dab9-f0b0-3681-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>398202eb-027a-3870-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e51f81fa-251e-3a7b-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>0768b9a9-e4a3-3fce-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>f9eb955d-6c0c-35f5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ebdd4902-9fc6-31ca-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>603.7968918938186</x>
                <y>416.4075379333202</y>
            </bends>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>f9eb955d-6c0c-35f5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>notify</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>d9ceda78-ad55-3f62-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <labels>
            <id>0865889f-cde3-386b-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1404.9552633462727</x>
                <y>3.6527208668452147</y>
            </position>
            <height>75.72846984863281</height>
            <label>TRANSLATE FOR SLACK</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>240.09988403320312</width>
        </labels>
        <labels>
            <id>0f850dc8-bddc-3529-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>585.5334567551372</x>
                <y>516.2480190452351</y>
            </position>
            <height>47.72446060180664</height>
            <label>FIRST DF TASK</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>152.43511962890625</width>
        </labels>
        <labels>
            <id>61e0b5e6-57ab-39c7-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>273.83641531027524</x>
                <y>0.0</y>
            </position>
            <height>70.85819625854492</height>
            <label>EXTRACT JOB NAME</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>206.00804138183594</width>
        </labels>
        <labels>
            <id>6fcf02f2-b4cb-3d03-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1009.2465491140383</x>
                <y>513.8128087237834</y>
            </position>
            <height>63.55280685424805</height>
            <label>SECOND DF TASK</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>178.0040283203125</width>
        </labels>
        <labels>
            <id>719f23bb-a65b-3b0f-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>216.61086591620415</x>
                <y>136.36732568929048</y>
            </position>
            <height>78.16360092163086</height>
            <label>============
NOTIFICATION
        PATH</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>151.21755981445312</width>
        </labels>
        <labels>
            <id>ad9eec85-0d6d-37b3-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>513.6972035064623</x>
                <y>725.6693697398299</y>
            </position>
            <height>58.682546615600586</height>
            <label>============
WAIT DF TASK</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>145.12974548339844</width>
        </labels>
        <labels>
            <id>c52a705f-2a59-311f-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>837.5694904786383</x>
                <y>253.2537741339688</y>
            </position>
            <height>55.02985763549805</height>
            <label>FOR DEBUGGING</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>170.69862365722656</width>
        </labels>
        <labels>
            <id>e2053aac-1e4a-34c7-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1453.6581369786927</x>
                <y>652.6154030818685</y>
            </position>
            <height>59.90011215209961</height>
            <label>============
SAY ON SLACK</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>152.43511962890625</width>
        </labels>
        <labels>
            <id>f7613bd7-e5b8-330d-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>26.697708858322585</x>
                <y>316.4405214264947</y>
            </position>
            <height>48.942012786865234</height>
            <label>START HERE</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>135.38922119140625</width>
        </labels>
        <labels>
            <id>ffa27cfd-5374-3484-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1363.5579432542709</x>
                <y>262.99423687943226</y>
            </position>
            <height>58.68254470825195</height>
            <label>ATTACHMENT</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>149.99998474121094</width>
        </labels>
        <processors>
            <id>0768b9a9-e4a3-3fce-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1347.8790055700524</x>
                <y>35.57335519406237</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>jolt-transform</key>
                        <value>
                            <name>jolt-transform</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-custom-class</key>
                        <value>
                            <name>jolt-custom-class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-custom-modules</key>
                        <value>
                            <name>jolt-custom-modules</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-spec</key>
                        <value>
                            <name>jolt-spec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transform Cache Size</key>
                        <value>
                            <name>Transform Cache Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pretty_print</key>
                        <value>
                            <name>pretty_print</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>jolt-transform</key>
                        <value>jolt-transform-chain</value>
                    </entry>
                    <entry>
                        <key>jolt-custom-class</key>
                    </entry>
                    <entry>
                        <key>jolt-custom-modules</key>
                    </entry>
                    <entry>
                        <key>jolt-spec</key>
                        <value>[
  {
    "operation": "shift",
    "spec": {
      "state": {
        "JOB_STATE_ON_START": {
          "#danger": ".color",
          "#:thinking_face: Job launch was prepared": ".pretext",
          "#Job with name '${job-name}' has been launched!": "fallback",
          "#Job has been launched from a template with the following parameters:": "title",
          "@(2,fields)": {
            "*": {
              "$": "fields[#2].title",
              "@": "fields[#2].value"
            }
          }
        },
        "JOB_STATE_DONE": {
          "#good": ".color",
          "#:sunglasses: Job '${job-name}' has finished": ".pretext",
          "#Job '${job-name}' has finished!": "fallback"
        },
        "JOB_STATE_CANCELLED": {
          "#warning": ".color",
          "#:confused: Job '${job-name}' has been cancled": ".pretext",
          "#Job '${job-name}'has been cancled!": "fallback"
        },
        "JOB_STATE_FAILED": {
          "#danger": ".color",
          "#:scream: Job '${job-name}' has failed": ".pretext",
          "#Job '${job-name}' has failed!": "fallback"
        },
        "JOB_STATE_LAUNCH_FAILED": {
          "#danger": ".color",
          "#:scream: Job '${job-name}' launch has failed": ".pretext",
          "#Job '${job-name}' launch has failed!": "fallback"
        }
      }
    }
  }
]</value>
                    </entry>
                    <entry>
                        <key>Transform Cache Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>pretty_print</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>JoltTransformJSON</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
        </processors>
        <processors>
            <id>398202eb-027a-3870-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1348.18522444685</x>
                <y>297.00939999081277</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attachments</key>
                        <value>
                            <name>attachments</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>attachments</key>
                        <value>$</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>7ca91192-7087-3fb6-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>546.8360229005505</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>${filename:endsWith('.txt')}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>filename</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>8fc3dab9-f0b0-3681-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1350.8519750908972</x>
                <y>547.9359389732334</y>
            </position>
            <bundle>
                <artifact>nifi-slack-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>webhook-url</key>
                        <value>
                            <name>webhook-url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>webhook-text</key>
                        <value>
                            <name>webhook-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>channel</key>
                        <value>
                            <name>channel</name>
                        </value>
                    </entry>
                    <entry>
                        <key>username</key>
                        <value>
                            <name>username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>icon-url</key>
                        <value>
                            <name>icon-url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>icon-emoji</key>
                        <value>
                            <name>icon-emoji</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attachments</key>
                        <value>
                            <name>attachments</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>webhook-url</key>
                    </entry>
                    <entry>
                        <key>webhook-text</key>
                        <value>NiFi boy says: I'm on testing.. do not pay attention</value>
                    </entry>
                    <entry>
                        <key>channel</key>
                        <value>#nifi-test</value>
                    </entry>
                    <entry>
                        <key>username</key>
                    </entry>
                    <entry>
                        <key>icon-url</key>
                    </entry>
                    <entry>
                        <key>icon-emoji</key>
                    </entry>
                    <entry>
                        <key>attachments</key>
                        <value>${attachments}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutSlack</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.slack.PutSlack</type>
        </processors>
        <processors>
            <id>9b78f518-8a83-39be-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>405.52054150585127</x>
                <y>548.8486749363148</y>
            </position>
            <bundle>
                <artifact>nifi-gcd-nar</artifact>
                <group>cc.datafabric.nifi</group>
                <version>1.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>dataflow-service-provider</key>
                        <value>
                            <identifiesControllerService>cc.datafabric.nifi.gcd.service.GCDataflowService</identifiesControllerService>
                            <name>dataflow-service-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value>
                            <name>gcp-project-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>location</key>
                        <value>
                            <name>location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>machine-type</key>
                        <value>
                            <name>machine-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>
                            <name>job-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcs-path</key>
                        <value>
                            <name>gcs-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>validate-only</key>
                        <value>
                            <name>validate-only</name>
                        </value>
                    </entry>
                    <entry>
                        <key>destination</key>
                        <value>
                            <name>destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>source</key>
                        <value>
                            <name>source</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>dataflow-service-provider</key>
                        <value>59289cb8-a5c9-3c38-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>location</key>
                        <value>europe-west1</value>
                    </entry>
                    <entry>
                        <key>machine-type</key>
                        <value>n1-standard-1</value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>build-vocabulary</value>
                    </entry>
                    <entry>
                        <key>gcs-path</key>
                        <value>path to "build-vocabulary" job template</value>
                    </entry>
                    <entry>
                        <key>validate-only</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>destination</key>
                        <value>path to results</value>
                    </entry>
                    <entry>
                        <key>source</key>
                        <value>gs://${gcs.bucket}/${filename}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteGCDataflowJob</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>inprocess</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>notify</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>cc.datafabric.nifi.processors.gcd.dataflow.ExecuteGCDataflowJob</type>
        </processors>
        <processors>
            <id>d9ceda78-ad55-3f62-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>991.327592191486</x>
                <y>548.9862897476105</y>
            </position>
            <bundle>
                <artifact>nifi-gcd-nar</artifact>
                <group>cc.datafabric.nifi</group>
                <version>1.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>dataflow-service-provider</key>
                        <value>
                            <identifiesControllerService>cc.datafabric.nifi.gcd.service.GCDataflowService</identifiesControllerService>
                            <name>dataflow-service-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value>
                            <name>gcp-project-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>location</key>
                        <value>
                            <name>location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>machine-type</key>
                        <value>
                            <name>machine-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>
                            <name>job-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcs-path</key>
                        <value>
                            <name>gcs-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>validate-only</key>
                        <value>
                            <name>validate-only</name>
                        </value>
                    </entry>
                    <entry>
                        <key>destination</key>
                        <value>
                            <name>destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>source</key>
                        <value>
                            <name>source</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>dataflow-service-provider</key>
                        <value>59289cb8-a5c9-3c38-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>location</key>
                        <value>europe-west1</value>
                    </entry>
                    <entry>
                        <key>machine-type</key>
                        <value>n1-standard-1</value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>compute-lexical-diversity</value>
                    </entry>
                    <entry>
                        <key>gcs-path</key>
                        <value>path to "compute-lexical-diversity" job template</value>
                    </entry>
                    <entry>
                        <key>validate-only</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>destination</key>
                        <value>path to results</value>
                    </entry>
                    <entry>
                        <key>source</key>
                        <value>path to data</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteGCDataflowJob</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>inprocess</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>notify</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>cc.datafabric.nifi.processors.gcd.dataflow.ExecuteGCDataflowJob</type>
        </processors>
        <processors>
            <id>f2342a75-d0a3-3ff4-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>2.9212514344239935</x>
                <y>346.73929161839146</y>
            </position>
            <bundle>
                <artifact>nifi-gcp-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>GCP Credentials Provider Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.gcp.credentials.service.GCPCredentialsService</identifiesControllerService>
                            <name>GCP Credentials Provider Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value>
                            <name>gcp-project-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-retry-count</key>
                        <value>
                            <name>gcp-retry-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-proxy-host</key>
                        <value>
                            <name>gcp-proxy-host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-proxy-port</key>
                        <value>
                            <name>gcp-proxy-port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-proxy-user-name</key>
                        <value>
                            <name>gcp-proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-proxy-user-password</key>
                        <value>
                            <name>gcp-proxy-user-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcs-bucket</key>
                        <value>
                            <name>gcs-bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcs-prefix</key>
                        <value>
                            <name>gcs-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcs-use-generations</key>
                        <value>
                            <name>gcs-use-generations</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>GCP Credentials Provider Service</key>
                        <value>fa39a8fc-34fe-34a3-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>gcp-retry-count</key>
                        <value>6</value>
                    </entry>
                    <entry>
                        <key>gcp-proxy-host</key>
                    </entry>
                    <entry>
                        <key>gcp-proxy-port</key>
                    </entry>
                    <entry>
                        <key>gcp-proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>gcp-proxy-user-password</key>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>gcs-bucket</key>
                        <value>bucket name</value>
                    </entry>
                    <entry>
                        <key>gcs-prefix</key>
                        <value>path without preceding slash</value>
                    </entry>
                    <entry>
                        <key>gcs-use-generations</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>100 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>true</executionNodeRestricted>
            <name>ListGCSBucket</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.gcp.storage.ListGCSBucket</type>
        </processors>
        <processors>
            <id>f26585d9-a1ec-39d4-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>738.4245842515274</x>
                <y>288.4609976076425</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>f9eb955d-6c0c-35f5-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>203.97106387327585</x>
                <y>32.259199856716094</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>
                            <name>job-name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>$.fields['job name']</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
    </snippet>
    <timestamp>11/20/2018 17:07:08 MSK</timestamp>
</template>
