src/test/resources/GC_Dataflow_Job_Runner_Example_Template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>The example for checking GC Dataflow Job Runner functionality</description>
    <groupId>1756f4cc-0167-1000-7f06-71b11e7d42ab</groupId>
    <name>GC Dataflow Job Runner Example Template</name>
    <snippet>
        <connections>
            <id>09502632-a85d-34f1-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>ce7fcc79-858e-30dc-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>4a8b1583-be95-3e86-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>195d7105-bcd4-3585-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>9eeb5de1-b5b4-33e0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>86444296-6a87-33cb-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1d57186e-5e6b-35bc-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>9eeb5de1-b5b4-33e0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>d0baeef0-c9d4-300c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>26508550-b164-31ae-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>604.7794490531446</x>
                <y>416.40753793332044</y>
            </bends>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>6a05033f-60db-380f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>notify</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>64050b94-cc35-3cd3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>35de0e7b-eebc-3dba-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>176.86575870612705</x>
                <y>731.7361343943354</y>
            </bends>
            <bends>
                <x>318.9975946436266</x>
                <y>731.4025772654292</y>
            </bends>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>607510bc-5af9-334c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>filename</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>ce7fcc79-858e-30dc-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>48ec38f7-07ba-3d5c-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>612.7501079425206</x>
                <y>699.279155893346</y>
            </bends>
            <bends>
                <x>583.4664165362706</x>
                <y>729.0029718113148</y>
            </bends>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>607510bc-5af9-334c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>inprocess</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>607510bc-5af9-334c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6b07a5e7-dc90-3509-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>d0baeef0-c9d4-300c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>86444296-6a87-33cb-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6cd74cc8-3a04-3c8e-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>64050b94-cc35-3cd3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>607510bc-5af9-334c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>978c140f-0ef3-3809-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1200.7727958351866</x>
                <y>701.9551007827669</y>
            </bends>
            <bends>
                <x>1167.883269467999</x>
                <y>728.9921491226106</y>
            </bends>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>64050b94-cc35-3cd3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>inprocess</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>64050b94-cc35-3cd3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b98e5c3c-2796-3755-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>9eeb5de1-b5b4-33e0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>e93de017-c78a-3490-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c6c23a30-06db-339b-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>380.7473445609571</x>
                <y>312.91449594113294</y>
            </bends>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>6a05033f-60db-380f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>notify</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>607510bc-5af9-334c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c9f63d86-20d7-3bfe-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>86444296-6a87-33cb-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>e93de017-c78a-3490-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cf6eb2d0-f8b5-34ae-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>9eeb5de1-b5b4-33e0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>6a05033f-60db-380f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f4c8181f-b56d-3d76-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>e93de017-c78a-3490-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>8d700613-f3a6-3652-0000-000000000000</groupId>
                <id>6a05033f-60db-380f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <labels>
            <id>3d8359db-d8bc-310f-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1364.540500413596</x>
                <y>262.9942368794324</y>
            </position>
            <height>58.68254470825195</height>
            <label>ATTACHMENT</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>149.99998474121094</width>
        </labels>
        <labels>
            <id>512f8f79-ff15-305b-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>274.8189724696008</x>
                <y>0.0</y>
            </position>
            <height>70.85819625854492</height>
            <label>EXTRACT JOB NAME</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>206.00804138183594</width>
        </labels>
        <labels>
            <id>76384165-9c3b-3f77-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>838.5520476379647</x>
                <y>253.25377413396893</y>
            </position>
            <height>55.02985763549805</height>
            <label>FOR DEBUGGING</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>170.69862365722656</width>
        </labels>
        <labels>
            <id>855caabf-dec4-3875-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1405.9378205055987</x>
                <y>3.652720866845243</y>
            </position>
            <height>75.72846984863281</height>
            <label>TRANSLATE FOR SLACK</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>240.09988403320312</width>
        </labels>
        <labels>
            <id>8cbc8b6d-8238-3b69-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>27.68026601764859</x>
                <y>316.4405214264949</y>
            </position>
            <height>48.942012786865234</height>
            <label>START HERE</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>135.38922119140625</width>
        </labels>
        <labels>
            <id>90aedd80-793a-3d20-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>507.43293449391285</x>
                <y>726.8771334117051</y>
            </position>
            <height>55.059133529663086</height>
            <label>============
WAIT GCD JOB</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>157.20777893066406</width>
        </labels>
        <labels>
            <id>a73e0cbf-d442-3efb-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1010.2291062733643</x>
                <y>513.8128087237834</y>
            </position>
            <height>63.55280685424805</height>
            <label>SECOND GCD JOB</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>178.0040283203125</width>
        </labels>
        <labels>
            <id>c6a66797-2f61-3ef0-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>573.2298811019632</x>
                <y>517.4557827171103</y>
            </position>
            <height>51.34787368774414</height>
            <label>FIRST GCD JOB</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>162.09754943847656</width>
        </labels>
        <labels>
            <id>cad40a96-b509-360b-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1454.6406941380178</x>
                <y>652.6154030818685</y>
            </position>
            <height>59.90011215209961</height>
            <label>============
SAY ON SLACK</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>152.43511962890625</width>
        </labels>
        <labels>
            <id>f58170ac-e54a-37ba-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>217.59342307553015</x>
                <y>136.3673256892904</y>
            </position>
            <height>78.16360092163086</height>
            <label>============
NOTIFICATION
        PATH</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>151.21755981445312</width>
        </labels>
        <processors>
            <id>4a8b1583-be95-3e86-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>348.04068321995385</y>
            </position>
            <bundle>
                <artifact>nifi-gcp-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>GCP Credentials Provider Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.gcp.credentials.service.GCPCredentialsService</identifiesControllerService>
                            <name>GCP Credentials Provider Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value>
                            <name>gcp-project-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-retry-count</key>
                        <value>
                            <name>gcp-retry-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-proxy-host</key>
                        <value>
                            <name>gcp-proxy-host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-proxy-port</key>
                        <value>
                            <name>gcp-proxy-port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-proxy-user-name</key>
                        <value>
                            <name>gcp-proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-proxy-user-password</key>
                        <value>
                            <name>gcp-proxy-user-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcs-bucket</key>
                        <value>
                            <name>gcs-bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcs-prefix</key>
                        <value>
                            <name>gcs-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcs-use-generations</key>
                        <value>
                            <name>gcs-use-generations</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>GCP Credentials Provider Service</key>
                        <value>c865601d-0a3f-3dfa-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value>my-project</value>
                    </entry>
                    <entry>
                        <key>gcp-retry-count</key>
                        <value>6</value>
                    </entry>
                    <entry>
                        <key>gcp-proxy-host</key>
                    </entry>
                    <entry>
                        <key>gcp-proxy-port</key>
                    </entry>
                    <entry>
                        <key>gcp-proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>gcp-proxy-user-password</key>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>gcs-bucket</key>
                        <value>my-bucket</value>
                    </entry>
                    <entry>
                        <key>gcs-prefix</key>
                        <value>gcd-nifi-cooperation/initial-data</value>
                    </entry>
                    <entry>
                        <key>gcs-use-generations</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>100 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>true</executionNodeRestricted>
            <name>ListGCSBucket</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.gcp.storage.ListGCSBucket</type>
        </processors>
        <processors>
            <id>607510bc-5af9-334c-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>406.5030986651768</x>
                <y>548.8486749363148</y>
            </position>
            <bundle>
                <artifact>nifi-gcd-nar</artifact>
                <group>cc.datafabric.nifi</group>
                <version>1.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>dataflow-service-provider</key>
                        <value>
                            <identifiesControllerService>cc.datafabric.nifi.gcd.service.GCDataflowService</identifiesControllerService>
                            <name>dataflow-service-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value>
                            <name>gcp-project-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>location</key>
                        <value>
                            <name>location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>machine-type</key>
                        <value>
                            <name>machine-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>
                            <name>job-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcs-path</key>
                        <value>
                            <name>gcs-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>validate-only</key>
                        <value>
                            <name>validate-only</name>
                        </value>
                    </entry>
                    <entry>
                        <key>destination</key>
                        <value>
                            <name>destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcpTempLocation</key>
                        <value>
                            <name>gcpTempLocation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>source</key>
                        <value>
                            <name>source</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>dataflow-service-provider</key>
                        <value>c4682e15-d363-3727-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value>my-project</value>
                    </entry>
                    <entry>
                        <key>location</key>
                        <value>europe-west1</value>
                    </entry>
                    <entry>
                        <key>machine-type</key>
                        <value>n1-standard-1</value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>build-vocabulary-${filename:substringBeforeLast('/'):substringAfterLast('/'):toLower()}</value>
                    </entry>
                    <entry>
                        <key>gcs-path</key>
                        <value>gs://my-bucket/templates/build-vocabulary</value>
                    </entry>
                    <entry>
                        <key>validate-only</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>destination</key>
                        <value>gs://my-bucket/gcd-nifi-cooperation/intermediate-data/${filename:substringBeforeLast('/'):substringAfterLast('/')}</value>
                    </entry>
                    <entry>
                        <key>gcpTempLocation</key>
                        <value>gs://${gcs.bucket}/${filename:substringBeforeLast('/')}</value>
                    </entry>
                    <entry>
                        <key>source</key>
                        <value>gs://${gcs.bucket}/${filename}*.txt</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteGCDataflowJob</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>inprocess</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>notify</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>cc.datafabric.nifi.processors.gcd.dataflow.ExecuteGCDataflowJob</type>
        </processors>
        <processors>
            <id>64050b94-cc35-3cd3-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>992.3101493508116</x>
                <y>548.9862897476106</y>
            </position>
            <bundle>
                <artifact>nifi-gcd-nar</artifact>
                <group>cc.datafabric.nifi</group>
                <version>1.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>dataflow-service-provider</key>
                        <value>
                            <identifiesControllerService>cc.datafabric.nifi.gcd.service.GCDataflowService</identifiesControllerService>
                            <name>dataflow-service-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value>
                            <name>gcp-project-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>location</key>
                        <value>
                            <name>location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>machine-type</key>
                        <value>
                            <name>machine-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>
                            <name>job-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcs-path</key>
                        <value>
                            <name>gcs-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>validate-only</key>
                        <value>
                            <name>validate-only</name>
                        </value>
                    </entry>
                    <entry>
                        <key>destination</key>
                        <value>
                            <name>destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gcpTempLocation</key>
                        <value>
                            <name>gcpTempLocation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>source</key>
                        <value>
                            <name>source</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>dataflow-service-provider</key>
                        <value>c4682e15-d363-3727-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>gcp-project-id</key>
                        <value>my-project</value>
                    </entry>
                    <entry>
                        <key>location</key>
                        <value>europe-west1</value>
                    </entry>
                    <entry>
                        <key>machine-type</key>
                        <value>n1-standard-1</value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>compute-lexical-diversity-${filename:substringBeforeLast('/'):substringAfterLast('/'):toLower()}</value>
                    </entry>
                    <entry>
                        <key>gcs-path</key>
                        <value>gs://my-bucket/templates/compute-lexical-diversity</value>
                    </entry>
                    <entry>
                        <key>validate-only</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>destination</key>
                        <value>gs://my-bucket/gcd-nifi-cooperation/final-data/${filename:substringBeforeLast('/'):substringAfterLast('/')}</value>
                    </entry>
                    <entry>
                        <key>gcpTempLocation</key>
                        <value>gs://${gcs.bucket}/${filename:substringBeforeLast('/')}</value>
                    </entry>
                    <entry>
                        <key>source</key>
                        <value>gs://my-bucket/gcd-nifi-cooperation/intermediate-data/${filename:substringBeforeLast('/'):substringAfterLast('/')}*</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteGCDataflowJob</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>inprocess</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>notify</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>cc.datafabric.nifi.processors.gcd.dataflow.ExecuteGCDataflowJob</type>
        </processors>
        <processors>
            <id>6a05033f-60db-380f-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>204.95362103260186</x>
                <y>32.25919985671612</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>
                            <name>job-name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>job-name</key>
                        <value>$.fields['job name']</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>86444296-6a87-33cb-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1349.1677816061751</x>
                <y>297.00939999081277</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attachments</key>
                        <value>
                            <name>attachments</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>attachments</key>
                        <value>$</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>9eeb5de1-b5b4-33e0-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>739.4071414108535</x>
                <y>288.46099760764275</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>ce7fcc79-858e-30dc-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>0.9825571593260065</x>
                <y>546.8360229005503</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>${filename:endsWith('.txt'):not()}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>filename</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>d0baeef0-c9d4-300c-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1351.8345322502232</x>
                <y>547.9359389732336</y>
            </position>
            <bundle>
                <artifact>nifi-slack-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>webhook-url</key>
                        <value>
                            <name>webhook-url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>webhook-text</key>
                        <value>
                            <name>webhook-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>channel</key>
                        <value>
                            <name>channel</name>
                        </value>
                    </entry>
                    <entry>
                        <key>username</key>
                        <value>
                            <name>username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>icon-url</key>
                        <value>
                            <name>icon-url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>icon-emoji</key>
                        <value>
                            <name>icon-emoji</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attachments</key>
                        <value>
                            <name>attachments</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>webhook-url</key>
                    </entry>
                    <entry>
                        <key>webhook-text</key>
                        <value>NiFi boy says: I'm on testing.. do not pay attention</value>
                    </entry>
                    <entry>
                        <key>channel</key>
                        <value>#nifi-channel</value>
                    </entry>
                    <entry>
                        <key>username</key>
                    </entry>
                    <entry>
                        <key>icon-url</key>
                    </entry>
                    <entry>
                        <key>icon-emoji</key>
                    </entry>
                    <entry>
                        <key>attachments</key>
                        <value>${attachments}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutSlack</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.slack.PutSlack</type>
        </processors>
        <processors>
            <id>e93de017-c78a-3490-0000-000000000000</id>
            <parentGroupId>8d700613-f3a6-3652-0000-000000000000</parentGroupId>
            <position>
                <x>1348.8615627293789</x>
                <y>35.5733551940624</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>jolt-transform</key>
                        <value>
                            <name>jolt-transform</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-custom-class</key>
                        <value>
                            <name>jolt-custom-class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-custom-modules</key>
                        <value>
                            <name>jolt-custom-modules</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-spec</key>
                        <value>
                            <name>jolt-spec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transform Cache Size</key>
                        <value>
                            <name>Transform Cache Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pretty_print</key>
                        <value>
                            <name>pretty_print</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>jolt-transform</key>
                        <value>jolt-transform-chain</value>
                    </entry>
                    <entry>
                        <key>jolt-custom-class</key>
                    </entry>
                    <entry>
                        <key>jolt-custom-modules</key>
                    </entry>
                    <entry>
                        <key>jolt-spec</key>
                        <value>[
  {
    "operation": "shift",
    "spec": {
      "state": {
        "JOB_STATE_ON_START": {
          "#danger": ".color",
          "#:thinking_face: Job launch was prepared": ".pretext",
          "#Job with name '${job-name}' has been launched!": "fallback",
          "#Job has been launched from a template with the following parameters:": "title",
          "@(2,fields)": {
            "*": {
              "$": "fields[#2].title",
              "@": "fields[#2].value"
            }
          }
        },
        "JOB_STATE_DONE": {
          "#good": ".color",
          "#:sunglasses: Job '${job-name}' has finished": ".pretext",
          "#Job '${job-name}' has finished!": "fallback"
        },
        "JOB_STATE_CANCELLED": {
          "#warning": ".color",
          "#:confused: Job '${job-name}' has been cancled": ".pretext",
          "#Job '${job-name}'has been cancled!": "fallback"
        },
        "JOB_STATE_FAILED": {
          "#danger": ".color",
          "#:scream: Job '${job-name}' has failed": ".pretext",
          "#Job '${job-name}' has failed!": "fallback"
        },
        "JOB_STATE_LAUNCH_FAILED": {
          "#danger": ".color",
          "#:scream: Job '${job-name}' launch has failed": ".pretext",
          "#Job '${job-name}' launch has failed!": "fallback"
        }
      }
    }
  }
]</value>
                    </entry>
                    <entry>
                        <key>Transform Cache Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>pretty_print</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>JoltTransformJSON</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
        </processors>
    </snippet>
    <timestamp>11/26/2018 16:18:34 MSK</timestamp>
</template>
